/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  min-width: 320px;
  max-height: 100vh;
  overflow: hidden;
  background-color: #fff;
}

body img {
  width: 80%;
}

#wrap {
  position: relative;
  max-width: 60vh;
  min-width: 320px;
  height: 100%;
  min-height: 460px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#wrap p {
  color: #000;
  letter-spacing: 1.2px;
  line-height: 1.2;
}

#typetype {
  position: absolute;
  top: 82%;
  max-width: 400px;
  width: 90vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 9;
}

#typetype span {
  color: #000;
  letter-spacing: 1.2px;
  line-height: 1.2;
}

#typetype.typeOs span {
  color: #fff;
}

#select_wrap {
  position: relative;
}

#select_wrap img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0%;
  pointer-events: none;
}

#select_wrap button {
  width: 25%;
  height: 50vw;
  max-height: 300px;
  min-height: 160px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.btn_box {
  border-radius: 20px;
  padding: 8px 16px;
  background-color: #000;
  border: none;
  color: #fff;
  margin-top: 10px;
}

.comment_wrap {
  position: absolute;
  background-color: #fff;
  top: 80%;
  width: 100%;
  height: 100px;
}

.comment_os {
  background-color: #4f4944;
}

.comment_os p {
  color: #fff !important;
}

.comment_name {
  display: inline-block;
  padding: 8px 10px;
  background: #7db9de;
  border-radius: 6px;
  position: absolute;
  top: -20px;
  color: #fff;
}

.comment_name.other {
  background: #749f8d;
}

.next_step {
  background: transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
}

.scenes .cut {
  position: relative;
  background-size: cover;
  background-position: top;
  height: 100vh;
}

.divine_cards {
  position: absolute;
  bottom: 10%;
}

.divine_buttons {
  position: absolute;
  bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.divine_buttons button {
  width: 25%;
  height: 25vw;
  max-height: 300px;
  min-height: 148px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.divine_buttons button[id='1'] {
  left: 0;
}

.divine_buttons button[id='2'] {
  left: 25%;
}

.divine_buttons button[id='3'] {
  left: 50%;
}

.divine_buttons button[id='4'] {
  left: 75%;
}

.food_buttons button {
  display: block;
}

.game_wrap {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: top;
  height: 100vh;
  background-image: url("../image/bg/game.png");
}

.game_wrap .actor_attacked {
  min-width: 200px;
  width: 40%;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.game_wrap .girls_attack {
  width: 50px;
  -webkit-animation: catcat 1s linear infinite;
          animation: catcat 1s linear infinite;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  cursor: pointer;
}

#motionPath {
  overflow: visible;
  height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  right: 0%;
  -webkit-transform: translateX(90%);
          transform: translateX(90%);
}

#motionPath .astronaut {
  visibility: hidden;
}

@-webkit-keyframes catcat {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes catcat {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

.attack0 {
  position: absolute;
  top: 0;
}

.attack1 {
  position: absolute;
  top: 0;
}

.attack2 {
  position: absolute;
  top: 0;
}

.attack3 {
  position: absolute;
  top: 0;
}

.attack4 {
  position: absolute;
  top: 0;
}

.attack5 {
  position: absolute;
  top: 0;
}

.attack6 {
  position: absolute;
  top: 0;
}

.attack7 {
  position: absolute;
  top: 0;
}

.attack8 {
  position: absolute;
  top: 0;
}

.attack9 {
  position: absolute;
  top: 0;
}

.attack10 {
  position: absolute;
  top: 0;
}

.attack11 {
  position: absolute;
  top: 0;
}

.attack12 {
  position: absolute;
  top: 0;
}

.attack13 {
  position: absolute;
  top: 0;
}

.attack14 {
  position: absolute;
  top: 0;
}

.attack15 {
  position: absolute;
  top: 0;
}

.attack16 {
  position: absolute;
  top: 0;
}

.attack17 {
  position: absolute;
  top: 0;
}

.attack18 {
  position: absolute;
  top: 0;
}

.attack19 {
  position: absolute;
  top: 0;
}

.attack20 {
  position: absolute;
  top: 0;
}

.attack21 {
  position: absolute;
  top: 0;
}

.attack22 {
  position: absolute;
  top: 0;
}

.attack23 {
  position: absolute;
  top: 0;
}

.attack24 {
  position: absolute;
  top: 0;
}

.attack25 {
  position: absolute;
  top: 0;
}

.attack26 {
  position: absolute;
  top: 0;
}

.attack27 {
  position: absolute;
  top: 0;
}

.attack28 {
  position: absolute;
  top: 0;
}

.attack29 {
  position: absolute;
  top: 0;
}

.attack30 {
  position: absolute;
  top: 0;
}

.attack31 {
  position: absolute;
  top: 0;
}

.attack32 {
  position: absolute;
  top: 0;
}

.attack33 {
  position: absolute;
  top: 0;
}

.attack34 {
  position: absolute;
  top: 0;
}

.attack35 {
  position: absolute;
  top: 0;
}

.attack36 {
  position: absolute;
  top: 0;
}

.attack37 {
  position: absolute;
  top: 0;
}

.attack38 {
  position: absolute;
  top: 0;
}

.attack39 {
  position: absolute;
  top: 0;
}

.attack40 {
  position: absolute;
  top: 0;
}

.attack41 {
  position: absolute;
  top: 0;
}

.attack42 {
  position: absolute;
  top: 0;
}

.attack43 {
  position: absolute;
  top: 0;
}

.attack44 {
  position: absolute;
  top: 0;
}

.attack45 {
  position: absolute;
  top: 0;
}

.attack46 {
  position: absolute;
  top: 0;
}

.attack47 {
  position: absolute;
  top: 0;
}

.attack48 {
  position: absolute;
  top: 0;
}

.attack49 {
  position: absolute;
  top: 0;
}

.attack50 {
  position: absolute;
  top: 0;
}

.attack51 {
  position: absolute;
  top: 0;
}

.attack52 {
  position: absolute;
  top: 0;
}

.attack53 {
  position: absolute;
  top: 0;
}

.attack54 {
  position: absolute;
  top: 0;
}

.attack55 {
  position: absolute;
  top: 0;
}

.attack56 {
  position: absolute;
  top: 0;
}

.attack57 {
  position: absolute;
  top: 0;
}

.attack58 {
  position: absolute;
  top: 0;
}

.attack59 {
  position: absolute;
  top: 0;
}

.attack60 {
  position: absolute;
  top: 0;
}

.modal-body {
  margin: auto;
}

.modal-content {
  background-color: transparent;
  border: none;
  position: relative;
}

.modal-content i {
  position: absolute;
  right: 0;
  z-index: 99;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}

.modal-content .modal-footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */